@import "tailwindcss";

@layer components {
  .btn { 
    @apply  text-2xl font-medium rounded-2xl p-4 border border-white text-white bg-[#FC5C88] shadow  hover:bg-[#f33467]
  }
}

@layer utilities {
    .shadow-soft {
        box-shadow: 0 0px 8px rgba(208, 208, 208, 0.438) ;
    }

    .shadow-medium {
        box-shadow: 0 4px 8px rgba(208, 208, 208, 0.2) ;
    }

    .my-slider-wrapper .n2-section-smartslider {
    max-width: 1200px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}
}